.c-margin{

    &.--bottom{
        margin-bottom: 2rem;
    }
    &.--top{
        margin-top: 2rem;
    }
    &.--left{
        margin-left: 1rem;
    }
    &.--right{
        margin-right: 1rem;
    }
    &.--all{
        margin: 1rem;
    }
    &.--side{
        margin: 0 1rem;
    }
    &.--centered{
        margin: 1rem auto;
    }
}