form{
    position: absolute;
    bottom: 30%;
    left: 19%;
    width: 70%;
    fieldset{
        border: 0;
        outline: 0;
        height: 400px;
        margin: 0 auto;
        text-align: center;

    }
}